*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    background-color: #be3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    font-size: 128px;
    font-family: sans-serif;
    font-weight: 100;
}
h2{
    font-size: 48px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
}
.destaque{
    background-color: black;
    color: white;
    padding: 16px 30px;
    transition: 1s;
}
.destaque:hover {
    background-color: rgb(0, 194, 123);
    color: rgb(255, 255, 255);
    transition: 1s;
}
img {
    width: 100px;
}
main{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
div{
    background-color: aliceblue;
    display: flex;
    justify-content: flex-end;
    gap: 14px;
    position: relative;
}

