body {
    height: 100vh;
    background-color: #be3d3d;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

h1 {
    font-size: 128px;
    font-family: sans-serif;
    font-weight: 100;
}

h2 {
    font-size: 48px;
    text-align: center;
    font-family: sans-serif;
    font-weight: 100;
}

.destaque {
    background-color: black;
    color: white;
    padding: 16px 30px;
    transition: 1s;
    border-radius: 20px;
}

.destaque:hover {
    background-color: rgb(69, 230, 255);
    color: rgb(255, 255, 255);
    transition: 1s;
}

img {
    width: 100px;
    border-radius: 20px;
}

div {
    display: flex;
    justify-content: center;
    gap: 14px;
    position: relative;
}